<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><b>Мебель для кухни</b> (<i>кухонная мебель</i>) — <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%B1%D0%B5%D0%BB%D1%8C">мебель</a>, специально предназначенная для хранения в квартирах и индивидуальных домах продуктов питания, бытовой утвари и посуды для приготовления пищи, <a href="">столового белья</a>, столовых приборов и столовой посуды, приготовления пищи, её подготовки к подаче на стол, приема пищи в <a href="https://ru.wikipedia.org/wiki/%D0%9A%D1%83%D1%85%D0%BD%D1%8F_(%D0%BF%D0%BE%D0%BC%D0%B5%D1%89%D0%B5%D0%BD%D0%B8%D0%B5)">помещении кухни</a>, а также для размещения <a href="ru.wikipedia.org/wiki/Холодильник">холодильников</a>, плит и другой бытовой техники.</div>
</body>
</html>